// colors for reuse
$body-text-color: rgb(38, 38, 39);
$body-background-color: #fff;
$body-text-light-color: rgb(76, 76, 76);
$field-text-color: #5e5e5e;
$common-color: #777;
$border-color-focus: #51cbee;
$liner-color: #a7a7a7;
$border-light: #c3c3c3;
$error-text-validation: #d93934;
$logo-background-color: rgb(55, 156, 251);
$dashboard-divider: rgba(0, 0, 0, 0.07);
$dashboard-background: rgb(250, 250, 250);
$widget-element-border: #d2ddec;
$ondrop-element: rgb(55, 95, 207);
$handle-content-light: rgb(77, 114, 250);
$tab-text: rgb(137, 137, 137);
$tab-text-selected: rgb(38, 38, 39);
$input-background-common: rgb(237, 239, 245);
$ondrop-border: rgb(109, 146, 248);
// $overlay-background: rgba(217, 217, 217, 1);
$overlay-background: rgb(17, 116, 203);
$select-input-border: #007be5;
$description-text: rgba(0, 0, 0, 0.7);
$response-text: rgb(187, 187, 187);
$delete-color: rgb(140, 3, 3);
$selected-question: #f0f0f0;

$button-text-color: #05051b;
$button-hover-color: #077f7f;
$button-inactive: #05051b;
$button-active: #131313;
$white-color: #fff;
$linkedin-button-background: #0077b5;
$google-button-background: #4285f4;
$light-gray: #e3e6ea;
$light-text-color: #6b7b8a;
$input-background: #fafafa;
$input-border: #e3e6ea;
$error-text: #da3d2a;
