// colors for reuse
$body-text-color:rgb(38, 38, 39);
$body-background-color: #fff;


$button-text-color: #05051b;
$button-hover-color: #077f7f;
$button-inactive: #05051b;
$button-active: #131313;
$white-color: #fff;
$linkedin-button-background: #0077b5;
$google-button-background: #4285f4;
$light-gray: #e3e6ea;
$light-text-color: #6b7b8a;
$input-background: #fafafa;
$input-border: #e3e6ea;
$error-text: #da3d2a;