.main {
  .logo-button {
    background-color: $logo-background-color;
    color: white;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 7%) 0px 0px 0px 1px inset;
    margin-right: 12px;
  }
  .logo-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
  }

  .user-logo {
    height: 32px;
    width: 32px;
    color: white;
  }
  .user-logo-image {
    border-radius: 50%;
  }
  .user-menu {
    cursor: pointer;
  }
  .dashboard-wrapper {
    height: 100%;
    // overflow-y: scroll;
  }
  .dashboard-main {
    display: flex;
    height: 100%;
  }
  .left-dashboard-wrapper {
    width: 256px;
    flex-shrink: 0;
  }
  .right-dashboard-wrapper {
    flex-shrink: 1;
    flex-grow: 1;
    background-color: $dashboard-background;
  }
  .right-dashboard {
    padding-left: 32px;
    padding-right: 32px;
    height: 100%;
  }
  .right-dashboard-menu {
    border-bottom: 1px solid $dashboard-divider;
    padding-bottom: 24px;
  }
  .plus-svg {
    margin-right: 5px;
  }
  .dashboard-general {
    display: flex;
    justify-content: space-between;
  }
  .dashboard-create {
    padding: 6px 12px;
  }
  .dashboard-settings {
    padding-top: 10px;
    display: flex;
  }
  .dashboard-card-wrapper {
    padding: 24px 32px 80px;
    height: 100%;
  }
  .dashboard-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-empty-text {
    font-size: 24px;
    line-height: 32px;
    // font-family: ;
  }
  .form-cards {
    display: flex;
    flex-wrap: wrap;
    min-width: 0px;
  }
  .form-details-dropdown {
    display: flex;
    cursor: pointer;
    padding: 4px;
  }
  .form-card {
    width: 178px;
    height: 208px;
    overflow-y: auto;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out 0s;
    background-color: $body-background-color;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 6%) 0px 2px 12px;
  }
  .form-card:hover {
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 6%) 0px 2px 12px,
      rgb(0 0 0 / 4%) 0px 8px 14px, rgb(0 0 0 / 2%) 0px 12px 16px;
  }
  .form-name {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 138px;
    padding: 16px;
    // border-bottom: 1px solid $widget-element-border;
  }
  .form-details-wrapper {
    height: fit-content;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 0px 0px inset;
    padding: 16px;
    flex: 1 1 auto;
  }
  .form-details {
    display: flex;
    justify-content: space-between;
    color: $response-text;
  }
  .form-card-link {
    height: 100%;
    width: 100%;
    color: black;
  }

  .menu-svg {
    display: none;
  }
}
.MuiPopover-paper {
  .popover-user-logo {
    width: 100%;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    .user-logo-image {
      height: 32px;
      width: 32px;
      color: white;
      border-radius: 50%;
      flex-basis: 30%;
    }
    .user-details {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 70%;
    }
  }
  .dropdown-wrapper {
    min-width: 276px;
    max-width: 276px;
    padding: 8px 0px;
  }
}
// .MuiTooltip-popperArrow {
//   display: none;
// }

.MuiModal-root {
  .create-form-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    padding: 4px;
    background-color: white;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 8px;
    padding: 20px;
  }
  .create-form-modal-header {
    padding: 0px;
    #modal-generateform-title {
      margin-bottom: 16px;
    }
  }
  .create-form-modal-closewrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      cursor: pointer;
    }
  }
  .css-k4qjio-MuiFormHelperText-root.Mui-error {
    position: absolute;
    top: 100%;
    font-family: $font-family;
    font-size: 12px;
    margin: 1px;
  }
  .create-form-modal-name-wr {
    font-size: 14px;
    .credential-field {
      background: transparent;
      line-height: 20px;
      font-size: 14px;
      font-weight: 400;
      margin: 3px 0px;
      color: $field-text-color;
      input {
        padding: 6px 14px;
        border: 1px solid $common-color;
        border-radius: 4px;
      }
      .Mui-focused .MuiOutlinedInput-notchedOutline {
        border: 1px solid $field-text-color;
      }
    }
  }
  .secondary-button {
    color: $body-background-color;
    text-transform: none;
    font-family: $font-family;
    font-size: 14px;
    // border: 1px solid $body-text-color;
    transition: background-color 0.2s ease-out 0s, border-color, color, opacity;
    line-height: 22px;
    letter-spacing: 0.1px;
    padding: 8px 16px;
    background-color: $body-text-color;
    box-shadow: none;
    border: 1px solid $body-text-color;
  }

  .secondary-button:hover {
    background-color: $body-text-color;
    box-shadow: none;

    line-height: 22px;
    padding: 8px 16px;
    border: 1px solid $body-text-color;
  }
}

.MuiTooltip-popper {
  .tooltip-title {
    .tooltip-name {
      font-weight: 600;
      margin-bottom: 4px;
    }
    .tooltip-email {
      color: $liner-color;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    .left-dashboard-wrapper {
      display: none;
    }
    .menu-svg {
      display: block;
    }
  }
}

@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}
@media screen and (min-height: 768px) {
}

@media screen and (max-width: 576px) {
}
