.main {
  .editor-wrapper {
    height: 100%;
  }
  .editor-main {
    height: 100%;
    display: flex;
    // overflow-y: auto;
  }
  .editor-order {
    width: 256px;
    border-right: 1px solid $dashboard-divider;
  }
  .editor-sidebar {
    width: 297px;
    border-left: 1px solid $dashboard-divider;
    z-index: 3;
    background-color: white;
  }
  .editor-design {
    flex: 1 1 0%;
    min-width: 0px;
    padding: 32px 16px 64px;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
  }
  .editor-space-wrapper {
    height: 748px;
    width: 1024px;
  }
  .editor-space {
    display: flex;
    align-items: center;
    background-color: $input-background-common;
    height: 100%;
    width: 100%;
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 6%) 0px 2px 12px;
    border-radius: 8px;
    animation-name: onboarding;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-play-state: running;
    animation-iteration-count: 1;
  }
  @keyframes onboarding {
    0% {
      transform: scale(0.1);
    }
  }
  .editor-drop-wrapper {
    height: 90%;
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgb(250, 250, 250);
    // background-color: white;
  }
  .editor-drop {
    padding: 10px;
    border: 1px dashed #6d92f8;
    background-color: $input-background-common;
    text-align: center;
    margin: 30px;
  }
  .editor-drop-onover-wrapper {
    border: 0.5px solid $ondrop-border;
  }
  .editor-drop-onover {
    // background-color: #c1d0fa;
    color: $ondrop-border;
    border: none;
    transition: background-color 100ms ease-in;
    width: 100%;
  }
  .dropform-name-input {
    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
      border-radius: 4px;
      height: 32px;
      outline: none;
      min-width: 64px;
      max-width: 100%;
      font-size: 14px;
      line-height: 20px;

      input {
        cursor: text;
        padding: 6px 11px;
        outline: none;
        height: 100%;
        width: 100px;
        min-width: 88px;
        max-width: 100%;
        // max-width: 100%;
        font-size: 14px;
        line-height: 20px;
        box-sizing: border-box;
      }
      fieldset {
        padding: 0px;
        // border: none;
      }
    }
  }
  .editor-links {
    display: flex;
    // height: 100%;
    justify-content: center;
    align-items: center;
  }
  .unselected-input {
    border: 1px solid $widget-element-border;
  }
  .selected-input {
    border: 1px $select-input-border solid;
  }
  .input-text-wrapper {
    position: relative;
    padding: 16px;
    padding-bottom: 52px;
    margin: 30px;
    border-radius: 12px;
    background-color: white;
  }
  // reusable
  .dispaly-input-text-handle-content {
    display: inline-block;
  }
  .hide-input-text-handle-content {
    display: none;
  }
  .input-text-handle-content {
    transform: translateY(-100%);
    padding-bottom: 1px;
    margin: 0px;
    margin-right: 46px;
    max-width: 12%;
    max-height: 20%;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    right: 0;
    top: 1px;
    color: white;
    .MuiStack-root {
      background-color: $handle-content-light;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 0px 4px;
    }
    .css-1tk1bks-MuiDivider-root {
      border-color: white;
      padding-top: 2px;
    }
    .input-text-handle-content-name {
      display: flex;
      align-items: center;
    }
  }

  .input-text-question {
    display: flex;
  }
  .input-text-question-num {
    padding: 0px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    p {
      font-family: $font-family;
      font-size: 14px;
    }
  }
  .input-text-question-field-wr {
    padding-left: 10px;
    padding-right: 10px;
  }
  .input-text-question-field {
    width: 100%;
    .css-1pw81iq-MuiInputBase-root-MuiFilledInput-root {
      border: 0px;
      // give the required color.
      background-color: white;
    }
    .css-1pw81iq-MuiInputBase-root-MuiFilledInput-root:hover {
      background-color: white;
    }
    input {
      font-family: $font-family;
      font-size: 20px;
      padding: 6px 5px;
      height: 30px;
    }
    input::-webkit-input-placeholder {
      color: $body-text-color;
      opacity: 1;
    }
    input:focus::-webkit-input-placeholder {
      color: $body-text-color;
      opacity: 0.7;
    }
  }
  .input-text-answer-field-wr {
    padding-left: 35px;
    padding-right: 10px;
    width: 100%;
    .css-q0jhri-MuiInputBase-root-MuiInput-root.Mui-disabled:before {
      border-bottom: 1px solid $ondrop-element;
    }
  }
  .input-text-answer-field {
    width: 100%;
    background-color: white;

    input {
      font-family: $font-family;
      font-size: 24px;
      padding: 0px 5px;
      height: 30px;
      cursor: text;
    }
    .css-1x51dt5-MuiInputBase-input-MuiInput-input.Mui-disabled {
      -webkit-text-fill-color: $ondrop-element;
      opacity: 1;
    }
  }
  .input-text-handle-delete {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  .overlay-wrapper {
    min-width: 400px;
    min-height: 100px;
    border-radius: 6px;
    background-color: $handle-content-light;
    border: 1px solid $ondrop-element;
    opacity: 0.8;
    p {
      width: 100%;
    }
  }
  .input-text-question-desc {
  }
  .input-text-answer-field-div {
    margin-top: 32px;
  }
}
