.main{
    .editor-wrapper{
        height: 100%;
    }
    .editor-main{
        height: 100%;
        display: flex;
    }
    .editor-order{
        width: 256px;
        border-right: 1px solid $dashboard-divider;
    }
    .editor-styles{
        width: 297px;
        border-left: 1px solid $dashboard-divider;
    }
    .editor-design{
        flex-grow: 1;
        padding: 32px 16px 64px;
        background-color: rgb(250, 250, 250);
        display: flex;
        justify-content: center;
        
    }
    .editor-space-wrapper{
        height: 748px;
        width: 1024px;
    }
    .editor-space{
        display: flex;
        align-items: center;
        background-color: rgb(237, 239, 245);
        height: 100%;
        width: 100%;
        box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 6%) 0px 2px 12px;
        border-radius: 8px;
    }
    .editor-drop{
        height: 90%;
        flex-grow: 1;
        background-color: rgb(250, 250, 250);
        // background-color: white;
    }
    .change{
        margin: 20px;
    }
}