// variables for reuse
$font-family: "Inter", sans-serif;
// 1 rem is close to 16px
$medium-font-size: 1.2rem;
$normal-font-size: 1rem;
$body-font-size: 18px;
$small-font-size: 0.875rem;
$smaller-font-size: 0.813rem;
$tiny-font-size: 0.625rem;
