@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Custom Application Colors */
  --color-body-text: var(--body-text);
  --color-body-background: var(--body-background);
  --color-body-text-light: var(--body-text-light);
  --color-field-text: var(--field-text);
  --color-common: var(--common);
  --color-border-focus: var(--border-focus);
  --color-liner: var(--liner);
  --color-border-light: var(--border-light);
  --color-error-validation: var(--error-validation);
  --color-logo-background: var(--logo-background);
  --color-dashboard-divider: var(--dashboard-divider);
  --color-dashboard-background: var(--dashboard-background);
  --color-widget-element-border: var(--widget-element-border);
  --color-ondrop-element: var(--ondrop-element);
  --color-handle-content-light: var(--handle-content-light);
  --color-tab-text: var(--tab-text);
  --color-tab-text-selected: var(--tab-text-selected);
  --color-input-background-common: var(--input-background-common);
  --color-ondrop-border: var(--ondrop-border);
  --color-overlay-background: var(--overlay-background);
  --color-select-input-border: var(--select-input-border);
  --color-description-text: var(--description-text);
  --color-response-text: var(--response-text);
  --color-delete: var(--delete);
  --color-selected-question: var(--selected-question);
  --color-button-text: var(--button-text);
  --color-button-hover: var(--button-hover);
  --color-button-inactive: var(--button-inactive);
  --color-button-active: var(--button-active);
  --color-white: var(--white);
  --color-linkedin-button: var(--linkedin-button);
  --color-google-button: var(--google-button);
  --color-light-gray: var(--light-gray);
  --color-light-text: var(--light-text);
  --color-input-bg: var(--input-bg);
  --color-input-border: var(--input-border);
  --color-error-text: var(--error-text);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);

  /* Custom Application Colors */
  --body-text: rgb(140 3 3);
  --body-background: #fff;
  --body-text-light: rgb(76, 76, 76);
  --field-text: #5e5e5e;
  --common: #777;
  --border-focus: #51cbee;
  --liner: #a7a7a7;
  --border-light: #c3c3c3;
  --error-validation: #d93934;
  --logo-background: rgb(55, 156, 251);
  --dashboard-divider: rgba(0, 0, 0, 0.07);
  --dashboard-background: rgb(250, 250, 250);
  --widget-element-border: #d2ddec;
  --ondrop-element: rgb(55, 95, 207);
  --handle-content-light: rgb(77, 114, 250);
  --tab-text: rgb(137, 137, 137);
  --tab-text-selected: rgb(38, 38, 39);
  --input-background-common: rgb(237, 239, 245);
  --ondrop-border: rgb(109, 146, 248);
  --overlay-background: rgb(17, 116, 203);
  --select-input-border: #007be5;
  --description-text: rgba(0, 0, 0, 0.7);
  --response-text: rgb(187, 187, 187);
  --delete: rgb(140, 3, 3);
  --selected-question: #f0f0f0;
  --button-text: #05051b;
  --button-hover: #077f7f;
  --button-inactive: #05051b;
  --button-active: #131313;
  --white: #fff;
  --linkedin-button: #0077b5;
  --google-button: #4285f4;
  --light-gray: #e3e6ea;
  --light-text: #6b7b8a;
  --input-bg: #fafafa;
  --input-border: #e3e6ea;
  --error-text: #da3d2a;
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
